.lesson_two {
  height: calc(100% - 50px);
  overflow: hidden;

  .make_choice {
    text-align: center;
    color: #546747;
    font-size: 3em;
  }

  .play_game {
    text-align: center;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 400px;
    margin-right: 10px;
    margin-left: 10px;
  }

  img:hover {
    cursor: pointer;
  }

  .start_game {
    margin-top: 50px;
  }

  .div_your_answer {
    display: grid;
    margin-right: 20px;
  }

  .your_answer {
    width: 150px;
    margin-top: 20px;
  }

  .div_comp_answer {
    display: grid;
    margin-left: 20px;
  }

  .comp_answer {
    width: 150px;
    margin-top: 20px;
  }

  .play_new_game {
    text-align: center;
    margin-top: 50px;
  }
}
