<app-toolbar [title]="title"></app-toolbar>

<div class="lesson_two">

  <ng-container *ngIf="stage === '1'">
    <div class="play_game">
      <img alt="start" src="assets/img/newPlay.png" (click)="changeRound('2')" class="start_game">
    </div>
  </ng-container>

  <ng-container *ngIf="stage === '2'">
    <h1 class="make_choice">Make your choice</h1>
    <div class="play_game">
      <img alt="rock" src="assets/img/1.png" (click)="playGame('камень'); changeRound('3')">
      <img alt="scissors" src="assets/img/2.png" (click)="playGame('ножницы'); changeRound('3')">
      <img alt="paper" src="assets/img/3.png" (click)="playGame('бумага'); changeRound('3')">
    </div>
  </ng-container>

  <ng-container *ngIf="stage === '3'">
    <div class="play_game">

      <div class="div_your_answer">
        Ваш ответ: <img class="your_answer" alt="yourAnswer" src="{{translateImg(yourAnswer)}}">
      </div>

      <img alt="img" src="{{imgResult}}">

      <div class="div_comp_answer">
        Ответ компьютера: <img class="comp_answer" alt="answerComputer" src="{{translateImg(answerComputer)}}">
      </div>
    </div>

    <div class="play_new_game">
      <img alt="start" src="assets/img/newPlay.png" (click)="changeRound('2')" class="start_game">
    </div>
  </ng-container>
</div>
