<app-toolbar [title]="title"></app-toolbar>

<div class="body">
  <h2>1. What is the difference between structural and attributive directives?</h2>
  <h2>2. What is trackByFn?</h2>
  <h2>3. What is the difference between ngIf and display: none?</h2>
  <h2>4. Explain decimal pipe</h2>

  <p>
    <strong>1. Структурные</strong> директивы используются для формирования или изменения формы HTML DOM путем
    добавления и удаления элементов.<br>
    Директивы <strong>атрибутов</strong> используются для изменения внешнего вида или поведения элемента DOM.<br>
  </p>

  <p><strong>2.</strong> При использовании ngFor для зацикливания массива в шаблонах, если обратиться к функции trackBy,
    она вернёт уникальный идентификатор для каждого элемента. Angular будет понимать, какой элемент изменился, а затем
    внесёт изменения в DOM только для этого конкретного элемента.</p>

  <p>
    <strong>3. ngIf -</strong> позволяет удалить или, наоборот, добавить элемент при определенном условии. При условии
    === false, элемен полностью удаляется из DOM.<br>
    <strong>display: none -</strong> элемент удаляется из дерева доступности. Это свойство скрывает только визуальную
    часть элемента, в то время как его можно изменить через консоль.<br>
  </p>

  <p>
    <strong>4. Angular Decimal Pipe -</strong> это один из элементов конвейера в Angular, который
    используется для форматирования десятичных чисел в соответствии с заданной информацией о десятичных цифрах и
    информацией о языковом стандарте.
  </p>

</div>
