<app-toolbar [title]="title"></app-toolbar>
<div class="body">

  <h2>1. What is SPA? Explain in your own words</h2>
  <h2>2. What is the difference between framework and library?</h2>
  <h2>3. Name a few advantages of angular</h2>
  <h2>4. Why do we need CLI in Angular?</h2>
  <h2>5. Name CLI command to create a component</h2>
  <h2>6. What do you understand by DRY? </h2>

  <p><strong>1. SPA -</strong> single page application. Это одностраничное приложение. В проекте Angular находится
    главный файл - index.html, в который через selector подгружается app.component.ts. Все остальные страницы, это
    отдельные компоненты, которые по надобности подружаются через селекторы, роуты или модули.</p>
  <p><strong>2. Библиотека -</strong> набор объекто, функций, методов. Фреймворк - всё что используется при разработке
    приложений. Библиотека, набор библиотек, скрипты.</p>
  <p><strong>3.</strong> Поддерживает .ts. Можно использовать наследование. При правильной настройки "ленивой загрузки",
    приложение на продакшене летает как ракета(каким бы увесистым оно не было). Очень много библиотек, которые можно
    подключить в своем проекте. Всё время развивается и улучшается.</p>
  <p><strong>4. Angular CLI -</strong> это интерфейс командной строки:
    - создает проект с нуля;<br>
    - компоненты, сервисы, директивы;<br>
    - запускает, билдит проект;<br>
    - запускает модульные и сквозные тесты.<br>
  </p>
  <p><strong>5.</strong> ng generate component new_component_name</p>
  <p><strong>6. DRY -</strong> повторное использование функциональности, а не писать ее с нуля.</p>

</div>
