<div class="body">

  <div class="image_not_found">
    <img alt="404 not found" src="assets/img/404.png">
  </div>

    <div class="text_not_found">
        <h1 class="text_404">Ошибка 404</h1>
        <h3 class="text_error">Кажется что-то пошло не так!</h3>
        <h3 class="text_error">Страница, которую вы запрашиваете, не существует.</h3>
        <h3 class="text_error">Возможно она устарела, была удалена, или был введен неверный адрес в адресной строке.</h3>

        <b class="go_dashboard" (click)="goDashboard('dashboard')">Перейти на главную страницу.</b>
    </div>

</div>
