<mat-toolbar class="mat_toolbar">

  <mat-card-title class="title_toolbar">
    {{title}}
  </mat-card-title>

  <span class="spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu" class="mat_menu">
    Lesson
    <mat-icon>view_headline</mat-icon>
  </button>

  <mat-menu #menu="matMenu" class="mat_menu_content">
    <button mat-menu-item (click)="routerToMove('dashboard')">
      <span>Dashboard</span>
    </button>
    <button mat-menu-item (click)="routerToMove('lesson-one')">
      <span>Lesson One</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="lessonTwo">
      <span>Lesson Two</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="lessonThree">
      <span>Lesson Three</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="lessonFour">
      <span>Lesson Four</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="lessonFive">
      <span>Lesson Five</span>
    </button>
    <button mat-menu-item (click)="routerToMove('final-lesson-weather')">
      <span>Weather</span>
    </button>
    <button mat-menu-item (click)="routerToMove('historical-weather')">
      <span>Historical Weather</span>
    </button>
  </mat-menu>

  <mat-menu #lessonTwo="matMenu">
    <button mat-menu-item (click)="routerToMove('lesson-two')">
      <span>Play Game</span>
    </button>
    <button mat-menu-item (click)="routerToMove('lesson-two-answer')">
      <span>Answers on questions</span>
    </button>
  </mat-menu>

  <mat-menu #lessonThree="matMenu">
    <button mat-menu-item (click)="routerToMove('lesson-three-pipe')">
      <span>String pipe</span>
    </button>
    <button mat-menu-item (click)="routerToMove('lesson-three-answer')">
      <span>Answers on questions</span>
    </button>
  </mat-menu>

  <mat-menu #lessonFour="matMenu">
    <button mat-menu-item (click)="routerToMove('lesson-four-list-books')">
      <span>Lesson Four List Books</span>
    </button>
    <button mat-menu-item (click)="routerToMove('lesson-four-answer')">
      <span>Answers on questions</span>
    </button>
  </mat-menu>

  <mat-menu #lessonFive="matMenu">
    <button mat-menu-item (click)="routerToMove('lesson-five-answer')">
      <span>Answers on questions</span>
    </button>
  </mat-menu>

</mat-toolbar>
