body {
  display: flex;
  min-width: 900px;
  flex-direction: column;
  align-items: stretch;
  overflow-x: auto;
  overflow-y: hidden;
}

.sidenav {
  width: 100%;
  height: 100%;
  background: #bbc8ba;
}

.book-container {
  margin-top: 0 !important;
  height: 100%;
  overflow: hidden;
  background-color: #bbc8ba;
  margin-right: 10px;
}

.book-info-card {
  margin-left: 10px;
  margin-top: 10px;
  width: calc((100% - 30px) / 3);
  height: 200px;
  padding: 0;
  border-radius: 5px 5px 0 0;
}

.card {
  height: 34px;
}

.title {
  display: initial;
  padding-left: 5px;
}

.content-card {
  padding-top: 5px;
  height: 70%;
}

.stars {
  border-top: 1px solid;
  height: 16%;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 20px);

}

.book-card {

  display: contents;

  .info-buttons {
    float: right;

    mat-icon {
      margin: 5px 10px 0 0;
    }

    mat-icon:hover {
      margin: 5px 10px 0 0;
      cursor: pointer;
    }

  }

  mat-grid-tile.stars {
    border-left: 1px solid;
    text-align: center;
  }

  .title > ::ng-deep figure {
    justify-content: left;
  }

  mat-card {
    display: inline-grid;
    background: #546747;
    color: #bbc8ba;
  }

  mat-card-title.mat-card-title {
    margin-top: 5px;
    float: left;
    padding: 0;
  }

  .e-num {
    display: inline-flex;

    mat-icon {
      margin: 0;
      padding-left: 5px;
      font-size: 20px;
      height: 14px;
      width: 14px;
      cursor: default;
    }

  }

  .content-card > ::ng-deep figure {
    justify-content: flex-start;
    align-items: flex-start;
  }

  p {
    margin-top: 0;
    text-indent: 20px;
    padding-left: 15px;
  }

  mat-card-title {
    font-weight: normal;
    font-size: 1em;
    color: #bbc8ba;
  }

  .mat-card-header .mat-card-title {
    font-size: 14px;
  }


  mat-card-header.card {
    display: block;
    border-radius: 4px 4px 0 0;
  }

  mat-card-header.card mat-icon {
    color: #bbc8ba;
  }

  .add {
    height: 18px;
    position: relative;
    float: right;
  }

}

.strong_stars {
  margin-bottom: 5px;
}
