<app-toolbar [title]="title"></app-toolbar>

<mat-drawer-container autosize class="sidenav">
  <div class="book-container">
    <div *ngFor="let item of lessonFourListBooksService.data" class="book-card">
      <mat-card class="book-info-card" *ngIf="item.id">
        <mat-card-header class="card">

          <mat-card-title>

            <div class="title">
              <ng-container *ngIf="item.title !== null">
                <strong>Название: </strong>{{item.title.substring(0, 32)}}
                <ng-container *ngIf="item.title.length > 32">{{'...'}}</ng-container>
              </ng-container>

            </div>
          </mat-card-title>

          <div class="info-buttons">

            <mat-icon title="Просмотр"
                      (click)="_openDialogCrudCard(item, 'view')"
                      (keydown.enter)="_openDialogCrudCard(item, 'view')"
                      (keydown.space)="_openDialogCrudCard(item, 'view')"
            >event_note
            </mat-icon>

            <mat-icon (click)="openDialogEdit(item)"
                      (keydown.enter)="openDialogEdit(item)"
                      (keydown.space)="openDialogEdit(item)"
                      tabindex=100
                      title="Редактировать">edit
            </mat-icon>

            <mat-icon (click)="openDialogAdd()"
                      (keydown.enter)="openDialogAdd()"
                      (keydown.space)="openDialogAdd()"
                      tabindex=100
                      title="Добавить">add
            </mat-icon>

            <mat-icon (click)="openDialogDelete(item)"
                      (keydown.enter)="openDialogDelete(item)"
                      (keydown.space)="openDialogDelete(item)"
                      tabindex=100
                      title="Удалить">delete
            </mat-icon>

          </div>
        </mat-card-header>

        <mat-card-content>

          <div class="content-card">

            <p><strong>Автор: </strong>
              {{item.author}}
            </p>

            <p>{{item.description.substring(0, 370)}}
              <ng-container *ngIf="item.description.length > 370">{{'...'}}</ng-container>
            </p>

          </div>

          <div class="stars">
            <mat-icon class="stars_star">star</mat-icon>
            <strong class="strong_stars">{{item.stars}}</strong>
            <strong class="strong_stars" *ngIf="!editStar">{{plusStar}}</strong>
            <strong class="strong_year">Год: {{item.year}}</strong>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</mat-drawer-container>
