<app-toolbar [title]="title"></app-toolbar>

<div class="body">
<h2>1. Explain everything you can see in the package.json and what it is the purpose of the file.</h2>
<h2>2. What is npm and how do we use that?</h2>
<h2>3. What is the purpose of the assets folder, main.ts, angular.json, index.html</h2>
<h2>4. Give an example of smart and dumb components</h2>

<p><strong>1. package.json -</strong> файл, в котором содержится информация о даном приложении:<br>
  - название;<br>
  - версия;<br>
  - зависимости;<br>
  - скрипты.
</p>

<p><strong>2. npm -</strong> менеджер пакетов, который входит в состав Node.js.</p>

<p>
  <strong>3. index.html -</strong> главная страница приложения.<br>
  <strong>main.ts -</strong> скрипт, который выполняется после загрузки страницы.<br>
  <strong>angular.json -</strong> главный конфигурационный файл.
</p>

<p>
  <strong>4. Dumb components:</strong><br>
    - независим от контекста и бизнес-логики;<br>
    - содержит рыбный текст-заглушку, который можно заменить чем угодно;<br>
    - иллюстрирует визуальное оформление;<br>
    - иллюстрирует возможные состояния и поведение.<br>

  <strong>Smart components:</strong><br>
  - существует в контексте: в определенном экране/блоке/фиче;<br>
  - содержит контекст, подходящий для места применения;<br>
  - иллюстрирует как работает конкретная фича;<br>
  - содержит только необходимые состояния и поведение.<br>
  </p>

</div>
