<app-toolbar [title]="title"></app-toolbar>

<div class="body">
  <h1 (click)="routerToMove('lesson-one')">Lesson One</h1>
  <h1 (click)="routerToMove('lesson-two')">Rock Paper Scissors</h1>
  <h1 (click)="routerToMove('lesson-two-answer')">Answers to the second lesson</h1>
  <h1 (click)="routerToMove('lesson-three-pipe')">Lesson three - string pipe.</h1>
  <h1 (click)="routerToMove('lesson-three-answer')">Answers to the three lesson</h1>
  <h1 (click)="routerToMove('lesson-four-list-books')">Lesson Four List Books</h1>
  <h1 (click)="routerToMove('lesson-four-answer')">Answers to the four lesson</h1>
  <h1 (click)="routerToMove('lesson-five-answer')">Answers to the five lesson</h1>
  <h1 (click)="routerToMove('final-lesson-weather')">Weather</h1>
  <h1 (click)="routerToMove('historical-weather')">Historical Weather</h1>
  <h1 (click)="routerToMove('about')">About</h1>
</div>
