<div class="form-inv">

  <mat-card>

    <mat-card-header class="view-dialog">
      <mat-grid-list cols="11" rowHeight="30">

        <mat-grid-tile colspan="7" rowspan="2" class="title">

          <mat-icon class="icon-relation">event_note</mat-icon>
          <h3>Просмотр</h3>
        </mat-grid-tile>

        <mat-grid-tile colspan="4" rowspan="2" class="crud-button">
          <button mat-stroked-button (click)="exit()">Закрыть</button>
        </mat-grid-tile>

      </mat-grid-list>

    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="editForm" class="form">

        <mat-grid-list cols="2" rowHeight="70">

          <mat-grid-tile>
            <mat-form-field appearance="outline">
              <mat-label>
                Название
              </mat-label>
              <mat-error *ngIf="editForm.get('title')?.hasError('minLen')">
                Минимальная длина 10 символов
              </mat-error>
              <input formControlName="title" matInput>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="outline">
              <mat-label>
                Автор
              </mat-label>
              <mat-error *ngIf="editForm.get('author')?.hasError('minLength')">
                Минимальная длина 6 символов
              </mat-error>
              <mat-error *ngIf="editForm.get('author')?.hasError('maxLength')">
                Максимальная длина 60 символов
              </mat-error>
              <input formControlName="author" matInput>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="outline">
              <mat-label>
                Год
              </mat-label>
              <mat-error *ngIf="editForm.get('year')?.hasError('minLength')">
                Минимальная длина 7 символов
              </mat-error>
              <mat-error *ngIf="editForm.get('year')?.hasError('maxLength')">
                Максимальная длина 10 символов
              </mat-error>
              <input formControlName="year" matInput>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="outline">
              <mat-label>
                Рейтинг звезд
              </mat-label>
              <mat-error *ngIf="editForm.get('stars')?.hasError('min')">
                Минимальное значение 1
              </mat-error>
              <mat-error *ngIf="editForm.get('stars')?.hasError('max')">
                Максимальное значение 5
              </mat-error>
              <input formControlName="stars" matInput>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="2" rowHeight="100">
          <mat-grid-tile colspan="2">
            <mat-form-field appearance="outline" class="no-paddin">
              <mat-label>
                Описание
              </mat-label>
              <mat-error *ngIf="editForm.get('description')?.hasError('minLength')">
                Минимальная длина 10 символов
              </mat-error>
              <mat-error *ngIf="editForm.get('description')?.hasError('maxLength')">
                Максимальная длина 254 символов
              </mat-error>
              <textarea rows="4" matInput formControlName="description"></textarea>
            </mat-form-field>
          </mat-grid-tile>

        </mat-grid-list>
      </form>
    </mat-card-content>

  </mat-card>
</div>
