<div class="form-inv">

  <mat-card>

    <mat-card-header class="view-dialog">
      <mat-grid-list cols="12" rowHeight="30">

        <mat-grid-tile colspan="3" rowspan="2" class="title">
          <h3>Добавить</h3>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2" class="crud-button">
          <button mat-stroked-button (click)="yes()" [disabled]="title.invalid || author.invalid || year.invalid || stars.invalid || description.invalid">Добавить</button>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2" class="crud-button">
          <button mat-stroked-button (click)="resetModal()">Очистить</button>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="2" class="crud-button">
          <button mat-stroked-button (click)="exit()">Закрыть</button>
        </mat-grid-tile>

      </mat-grid-list>

    </mat-card-header>

    <mat-card-content>
      <form name="form" #f="ngForm" class="form" novalidate>

        <mat-grid-list cols="2" rowHeight="70">

          <mat-grid-tile>
            <mat-form-field appearance="outline">
              <mat-label>Название</mat-label>
              <input name="title" [(ngModel)]="model.title" matInput required #title="ngModel" [ngClass]="{'is-invalid': f.submitted && title.invalid }">
              <div *ngIf="title?.invalid">
                <div *ngIf="title?.errors?.required">First Name is required</div>
              </div>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="outline">
              <mat-label>Автор</mat-label>
              <input name="author" [(ngModel)]="model.author" matInput required #author="ngModel" >
              <div *ngIf="author?.invalid">
                <div *ngIf="author?.errors?.required">Author is required</div>
              </div>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="outline">
              <mat-label>Год</mat-label>
              <input name="year" type="number" [(ngModel)]="model.year" matInput required #year="ngModel">
              <div *ngIf="year?.invalid">
                <div *ngIf="year?.errors?.required">Year is required</div>
              </div>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="outline">
              <mat-label>Рейтинг звезд</mat-label>
              <input name="stars" type="number" [(ngModel)]="model.stars" matInput required #stars="ngModel">
              <div *ngIf="stars?.invalid">
                <div *ngIf="stars?.errors?.required">Stars is required</div>
              </div>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="2" rowHeight="100">
          <mat-grid-tile colspan="2">
            <mat-form-field appearance="outline" class="no-paddin">
              <mat-label>Описание</mat-label>
              <textarea rows="4" name="description" [(ngModel)]="model.description" matInput required #description="ngModel"></textarea>
              <div *ngIf="description?.invalid">
                <div *ngIf="description?.errors?.required">Description is required</div>
              </div>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>

      </form>
    </mat-card-content>

  </mat-card>
</div>
